header{
font-family: fantasy; text-align: center; text-emphasis-color: #000; 
font-weight: lighter; font-size: 30px;
}


table{
    width: 1300px;
}

th {
    text-align: center
    
}

table, th, td {
 border: 5px solid rgb(5, 170, 134);
 border-collapse: collapse;

 }

th, td {
    padding: 8px;
}

tr:nth-child(even) {
 background-color:white
}

tr:nth-child(odd) {
    background-color:rgb(117, 242, 247)
   }